
#board {
    width: 400px;
    height: 400px;
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.head {
    color: #756556;
    font-size: 80px;
}

#new-game {
    background-color: #bbada0;
    color: #fdeddd;
    width: 100px;
    border-radius: 10px;
    height: 35px;
    margin-left: -300px;
    position: relative;
    top: -50px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#new-game:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

#new-game:active {
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(2px);
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #eee4da;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16 {
    background-color: #f59575;
    color: white;
}

.x32 {
    background-color: #f57c5f;
    color: white;
}

.x64 {
    background-color: #f65d3b;
    color: white;
}

.x128 {
    background-color: #edcc63;
    color: white;
}

.x256 {
    background-color: #edcc63;
    color: white;
}

.x512 {
    background-color: #edc651;
    color: white;
}

.x1024 {
    background-color: #eec744;
    color: white;
}

.x2048 {
    background-color: #fe3d3d;
    color: white;
} 

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}